In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [3]:
data2012 =pd.read_excel('Port_2012.xlsx',skiprows=12)
data2013 =pd.read_excel('Port_2013.xlsx',skiprows=12)
data2013_2 =pd.read_excel('Port_2013(2).xlsx',skiprows=12)
data2014 =pd.read_excel('Port_2014.xlsx',skiprows=12)
data2015 =pd.read_excel('Port_2015.xlsx',skiprows=12)
data2015_2 =pd.read_excel('Port_2015(1).xlsx',skiprows=12)
data2016 =pd.read_excel('Port_2016.xlsx',skiprows=12)
data2017 =pd.read_excel('Port_2017.xlsx',skiprows=12)
data2018 =pd.read_excel('Port_2018.xlsx',skiprows=12)
data2019 =pd.read_excel('Port_2019.xlsx',skiprows=12)
data2020 =pd.read_excel('Port_2020.xlsx',skiprows=12)
data2021 =pd.read_excel('Port_2021.xlsx',skiprows=12)

li = [data2012,data2013,data2013_2,data2014,data2015,data2015_2,data2016,data2017,data2018,data2019,data2020,data2021]

In [4]:
df = pd.concat(li, axis=0, ignore_index=True)

In [6]:
df

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,국제톤수,...,승무원 2,승객,예선,도선,부선호출부호1,부선호출부호2,Unnamed: 4,Unnamed: 18,Unnamed: 20,Unnamed: 21
0,울산,3EUE6,SKY FLOWER,2012,1.0,최종,외항,출항,"9,742","9,742",...,7.0,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN
1,울산,3EUI7,MSC CAPELLA,2012,1.0,최종,외항,출항,"141,635","141,635",...,24.0,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN
2,울산,3EVC9,SKY HOPE,2012,1.0,최종,외항,출항,"9,742","9,742",...,7.0,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN
3,울산,3EVP,글로비스 어드밴스,2012,1.0,최종,외항,출항,"93,313","93,313",...,18.0,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN
4,울산,3EYG3,MSC REGULUS,2012,1.0,최종,외항,출항,"141,635","141,635",...,23.0,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472556,울산,D7UZ,308 HYODONG CHEMI,2021,NaN,최초,내항,출항,"2,682","2,682",...,7.0,NaN,Y,N,NaN,NaN,32.0,대한민국,2.0,정일2부두
472557,울산,D7UZ,308 HYODONG CHEMI,2021,NaN,최초,내항,입항,"2,682","2,682",...,7.0,NaN,Y,N,NaN,NaN,32.0,대한민국,2.0,정일2부두
472558,울산,PBPU,AZORESBORG,2021,NaN,최초,외항,입항,"11,864","11,864",...,13.0,NaN,Y,Y,NaN,NaN,1.0,네덜란드,27.0,용연부두(2선석)
472559,울산,HZGE,SAHBA,2021,NaN,최초,외항,입항,"162,286","162,286",...,28.0,NaN,Y,Y,NaN,NaN,5.0,사우디아라비아,1.0,S-OIL부이
472560,울산,HPWV,SCARLET IBIS,2021,NaN,변경,외항,입항,"30,411","30,411",...,21.0,NaN,Y,Y,NaN,NaN,2.0,파나마,3.0,정박지-E3

# 데이터 EDA를 하기 위한 전처리

In [8]:
# 필요없는 변수 제거
df.drop(['항명', '입항횟수', '구분', '외내', '항해구분', '예선', '도선', '국적', '국적.1', '승무원 1', '승무원 2', '승객', '부선호출부호1', '부선호출부호2', '계선장소.2', 'Unnamed: 4', 'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 21'], axis=1, inplace=True)
df

KeyError: "['항명' '입항횟수' '구분' '외내' '항해구분' '예선' '도선' '국적' '국적.1' '승무원 1' '승무원 2' '승객'\n '부선호출부호1' '부선호출부호2' '계선장소.2'] not found in axis"

In [18]:
# 선박용도가 자동차운반선인것들의 데이터 프레임 = df_Car
df_Car = df.query('선박용도 == "자동차운반선"').reset_index(drop=True)
df_Car

,호출부호,선명,입항횟수.1,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도
0,9HA2293,TULANE,1.0,출항,"72,295","72,295","72,295",1950-01-01 00:00:00,2012-06-15 15:00:00,2012-06-15 17:00,2012-07-18 17:18,12WLHNU0283,MQP,3.0,NaN,NaN,자동차운반선
1,C6ZE7,GLOVIS CARAVEL,1.0,출항,"58,767","58,767","58,767",1950-01-01 00:00:00,2012-09-10 15:05:00,2012-09-10 14:05,2012-09-11 14:25,12GLVSU1531,MBJ,3.0,NaN,NaN,자동차운반선
2,C6ZE8,GLOVIS CLIPPER,1.0,출항,"58,767","58,767","58,767",1950-01-01 00:00:00,2012-02-18 13:00:00,2012-02-17 21:00,2012-02-24 09:55,12GLVSU0295,MBJ,2.0,NaN,NaN,자동차운반선
3,C6ZS3,GLOVIS MERMAID,1.0,출항,"32,545","32,545","32,545",1950-01-01 00:00:00,2012-07-05 17:05:00,2012-07-05 15:00,2012-07-06 14:35,12STKOD0941,MQM,3.0,NaN,NaN,자동차운반선
4,C6ZS5,GLOVIS MELODY,1.0,출항,"32,545","32,545","32,545",1950-01-01 00:00:00,2012-11-22 09:35:00,2012-11-22 08:00,2012-11-23 16:25,12STKOD1683,MQM,3.0,NaN,NaN,자동차운반선
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,NaN,입항,"55,878","55,878","55,878",2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15,NaN,21GLVSE147I,MBJ,NaN,광양,SINGAPORE,자동차운반선
11458,ZDNC6,PASSAMA,NaN,입항,"47,053","47,053","47,053",2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00,NaN,21L53KI448I,MBJ,NaN,MOJI/KITAKYUSHU,마산,자동차운반선
11459,DSMZ8,아세안 메저스티호,NaN,입항,"71,383","71,383","71,383",2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15,NaN,21EUKOV913I,MBJ,NaN,평택.당진,마산,자동차운반선
11460,3FDI5,MORNING LILY,NaN,입항,"70,853","70,853","70,853",2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15,NaN,21EUKOV921I,MBJ,NaN,마산,평택.당진,자동차운반선
11461,3FHK6,모닝 세실,NaN,입항,"60,876","60,876","60,876",2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15,NaN,21EUKOV916I,MBJ,NaN,"BRUNSWICK, GA",목포,자동차운반선

In [23]:
# 날짜데이터들 timestamp(datetime)형으로 변환
for colname in ['입항일시', '출항일시', 'CIO수속일자', '수리일시']:
    df_Car[colname] = pd.to_datetime(df_Car[colname], format='%Y-%m-%d %H:%M:%S')
df_Car['입항일시']

12      2011-12-28 17:15:00
13      2011-12-29 05:45:00
14      2012-01-02 07:35:00
15      2012-01-02 07:35:00
16      2012-01-02 07:45:00
                ...
11457   2021-08-16 06:15:00
11458   2021-08-16 08:00:00
11459   2021-08-17 06:15:00
11460   2021-08-18 06:15:00
11461   2021-08-19 06:15:00
Name: 입항일시, Length: 11447, dtype: datetime64[ns]

In [24]:
# 1950년 1월1일 입항인 선박 행 삭제
df_Car.drop(df_Car.query('입항일시 == "1950-01-01 00:00:00"').index, inplace=True)
df_Car

,호출부호,선명,입항횟수.1,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도
12,9HA2272,TITANIA,1.0,출항,"74,255","74,255","74,255",2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,2.0,목포,장승포,자동차운반선
13,3EJK5,WESTERN HIGHWAY,1.0,출항,"39,422","39,422","39,422",2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,2.0,SINGAPORE,"KANDA, FUKUOKA",자동차운반선
14,V7FT4,NORTHERN HIGHWAY,1.0,입항,"39,422","39,422","39,422",2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,1.0,NEW WESTMINSTER,광양,자동차운반선
15,V7FT4,NORTHERN HIGHWAY,1.0,출항,"39,422","39,422","39,422",2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,3.0,NEW WESTMINSTER,광양,자동차운반선
16,A8VI6,CAR STAR,1.0,출항,"43,790","43,790","43,790",2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,3.0,YOKOHAMA,"NAGOYA, AICHI",자동차운반선
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,NaN,입항,"55,878","55,878","55,878",2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,NaN,광양,SINGAPORE,자동차운반선
11458,ZDNC6,PASSAMA,NaN,입항,"47,053","47,053","47,053",2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,NaN,MOJI/KITAKYUSHU,마산,자동차운반선
11459,DSMZ8,아세안 메저스티호,NaN,입항,"71,383","71,383","71,383",2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,NaN,평택.당진,마산,자동차운반선
11460,3FDI5,MORNING LILY,NaN,입항,"70,853","70,853","70,853",2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,NaN,마산,평택.당진,자동차운반선
11461,3FHK6,모닝 세실,NaN,입항,"60,876","60,876","60,876",2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,NaN,"BRUNSWICK, GA",목포,자동차운반선

In [26]:
# 톤수들의 문자열에서 ',' 제거 후 numeric으로 변환
for colname in ['총톤수', '국제톤수', '징수톤수']:
    df_Car[colname] = df_Car[colname].str.replace(',', '')
    df_Car[colname] = pd.to_numeric(df_Car[colname])

In [28]:
# 입출 칼럼 입항:1, 출항:0 으로 변환

# dict: 기존 값, 바꾸고자 하는 값
change_dict = {'입항': 1, '출항': 0}

# 변경
df_Car = df_Car.replace({'입출':change_dict})
df_Car

,호출부호,선명,입항횟수.1,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도
12,9HA2272,TITANIA,1.0,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,2.0,목포,장승포,자동차운반선
13,3EJK5,WESTERN HIGHWAY,1.0,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,2.0,SINGAPORE,"KANDA, FUKUOKA",자동차운반선
14,V7FT4,NORTHERN HIGHWAY,1.0,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,1.0,NEW WESTMINSTER,광양,자동차운반선
15,V7FT4,NORTHERN HIGHWAY,1.0,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,3.0,NEW WESTMINSTER,광양,자동차운반선
16,A8VI6,CAR STAR,1.0,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,3.0,YOKOHAMA,"NAGOYA, AICHI",자동차운반선
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,NaN,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,NaN,광양,SINGAPORE,자동차운반선
11458,ZDNC6,PASSAMA,NaN,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,NaN,MOJI/KITAKYUSHU,마산,자동차운반선
11459,DSMZ8,아세안 메저스티호,NaN,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,NaN,평택.당진,마산,자동차운반선
11460,3FDI5,MORNING LILY,NaN,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,NaN,마산,평택.당진,자동차운반선
11461,3FHK6,모닝 세실,NaN,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,NaN,"BRUNSWICK, GA",목포,자동차운반선

In [29]:
# 칼럼 이름 변경
df_Car.rename(columns={'입항횟수.1': '입항횟수'}, inplace=True)
df_Car

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도
12,9HA2272,TITANIA,1.0,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,2.0,목포,장승포,자동차운반선
13,3EJK5,WESTERN HIGHWAY,1.0,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,2.0,SINGAPORE,"KANDA, FUKUOKA",자동차운반선
14,V7FT4,NORTHERN HIGHWAY,1.0,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,1.0,NEW WESTMINSTER,광양,자동차운반선
15,V7FT4,NORTHERN HIGHWAY,1.0,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,3.0,NEW WESTMINSTER,광양,자동차운반선
16,A8VI6,CAR STAR,1.0,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,3.0,YOKOHAMA,"NAGOYA, AICHI",자동차운반선
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,NaN,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,NaN,광양,SINGAPORE,자동차운반선
11458,ZDNC6,PASSAMA,NaN,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,NaN,MOJI/KITAKYUSHU,마산,자동차운반선
11459,DSMZ8,아세안 메저스티호,NaN,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,NaN,평택.당진,마산,자동차운반선
11460,3FDI5,MORNING LILY,NaN,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,NaN,마산,평택.당진,자동차운반선
11461,3FHK6,모닝 세실,NaN,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,NaN,"BRUNSWICK, GA",목포,자동차운반선

In [30]:
# 계선장소.1 string으로 변경후 계선장소와 합침
# 계선장소.1 object로 타입변환
df_Car['계선장소.1'] = df_Car['계선장소.1'].astype(str)
# 새로운 열 생성
df_Car['계선장소.2'] = df_Car['계선장소.1'].str[0]
df_Car['계선장소.1'] = "0" + df_Car['계선장소.2'].map(str)

In [31]:
# 변환하기 위해 만들었던 열 삭제
df_Car.drop('계선장소.2', axis=1, inplace=True)
df_Car

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도
12,9HA2272,TITANIA,1.0,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,02,목포,장승포,자동차운반선
13,3EJK5,WESTERN HIGHWAY,1.0,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,02,SINGAPORE,"KANDA, FUKUOKA",자동차운반선
14,V7FT4,NORTHERN HIGHWAY,1.0,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,01,NEW WESTMINSTER,광양,자동차운반선
15,V7FT4,NORTHERN HIGHWAY,1.0,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,03,NEW WESTMINSTER,광양,자동차운반선
16,A8VI6,CAR STAR,1.0,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,03,YOKOHAMA,"NAGOYA, AICHI",자동차운반선
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,NaN,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,0n,광양,SINGAPORE,자동차운반선
11458,ZDNC6,PASSAMA,NaN,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,0n,MOJI/KITAKYUSHU,마산,자동차운반선
11459,DSMZ8,아세안 메저스티호,NaN,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,0n,평택.당진,마산,자동차운반선
11460,3FDI5,MORNING LILY,NaN,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,0n,마산,평택.당진,자동차운반선
11461,3FHK6,모닝 세실,NaN,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,0n,"BRUNSWICK, GA",목포,자동차운반선

In [32]:
df_Car['계선'] = df_Car['계선장소'] + " " +  df_Car['계선장소.1'].astype(str)
df_Car

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,계선
12,9HA2272,TITANIA,1.0,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,02,목포,장승포,자동차운반선,MBJ 02
13,3EJK5,WESTERN HIGHWAY,1.0,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,02,SINGAPORE,"KANDA, FUKUOKA",자동차운반선,MBJ 02
14,V7FT4,NORTHERN HIGHWAY,1.0,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,01,NEW WESTMINSTER,광양,자동차운반선,MBJ 01
15,V7FT4,NORTHERN HIGHWAY,1.0,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,03,NEW WESTMINSTER,광양,자동차운반선,MBJ 03
16,A8VI6,CAR STAR,1.0,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,03,YOKOHAMA,"NAGOYA, AICHI",자동차운반선,MBJ 03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,NaN,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,0n,광양,SINGAPORE,자동차운반선,MBJ 0n
11458,ZDNC6,PASSAMA,NaN,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,0n,MOJI/KITAKYUSHU,마산,자동차운반선,MBJ 0n
11459,DSMZ8,아세안 메저스티호,NaN,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,0n,평택.당진,마산,자동차운반선,MBJ 0n
11460,3FDI5,MORNING LILY,NaN,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,0n,마산,평택.당진,자동차운반선,MBJ 0n
11461,3FHK6,모닝 세실,NaN,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,0n,"BRUNSWICK, GA",목포,자동차운반선,MBJ 0n

In [35]:
df_Car.drop(['계선장소.1'], axis=1, inplace=True)
df_Car

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,차항지,전출항지,선박용도,계선
12,9HA2272,TITANIA,1.0,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,목포,장승포,자동차운반선,MBJ 02
13,3EJK5,WESTERN HIGHWAY,1.0,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,SINGAPORE,"KANDA, FUKUOKA",자동차운반선,MBJ 02
14,V7FT4,NORTHERN HIGHWAY,1.0,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,NEW WESTMINSTER,광양,자동차운반선,MBJ 01
15,V7FT4,NORTHERN HIGHWAY,1.0,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,NEW WESTMINSTER,광양,자동차운반선,MBJ 03
16,A8VI6,CAR STAR,1.0,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,YOKOHAMA,"NAGOYA, AICHI",자동차운반선,MBJ 03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,NaN,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,광양,SINGAPORE,자동차운반선,MBJ 0n
11458,ZDNC6,PASSAMA,NaN,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,MOJI/KITAKYUSHU,마산,자동차운반선,MBJ 0n
11459,DSMZ8,아세안 메저스티호,NaN,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,평택.당진,마산,자동차운반선,MBJ 0n
11460,3FDI5,MORNING LILY,NaN,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,마산,평택.당진,자동차운반선,MBJ 0n
11461,3FHK6,모닝 세실,NaN,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,"BRUNSWICK, GA",목포,자동차운반선,MBJ 0n

In [84]:
# 입출항 차이 행 추가
df_Car['입출항 차이'] = df_Car['출항일시']-df_Car['입항일시']
df_Car

,호출부호,선명,입항횟수,입출,총톤수,입항일시,출항일시,CIO수속일자,MRN 번호,계선장소,차항지,전출항지,계선,입출항 차이
12,9HA2272,TITANIA,1.0,0,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,12EUKOV0179,MBJ,목포,장승포,MBJ 02,4 days 20:00:00
13,3EJK5,WESTERN HIGHWAY,1.0,0,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,12EVOLU0039,MBJ,SINGAPORE,"KANDA, FUKUOKA",MBJ 02,4 days 11:35:00
14,V7FT4,NORTHERN HIGHWAY,1.0,1,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,11GLVSU1985,MBJ,NEW WESTMINSTER,광양,MBJ 01,1 days 14:00:00
15,V7FT4,NORTHERN HIGHWAY,1.0,0,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,12GLVSU0026,MBJ,NEW WESTMINSTER,광양,MBJ 03,1 days 14:00:00
16,A8VI6,CAR STAR,1.0,0,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,12ZIMUECS10,MBJ,YOKOHAMA,"NAGOYA, AICHI",MBJ 03,0 days 07:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,NaN,1,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,21GLVSE147I,MBJ,광양,SINGAPORE,MBJ 0n,0 days 15:45:00
11458,ZDNC6,PASSAMA,NaN,1,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,21L53KI448I,MBJ,MOJI/KITAKYUSHU,마산,MBJ 0n,3 days 01:00:00
11459,DSMZ8,아세안 메저스티호,NaN,1,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,21EUKOV913I,MBJ,평택.당진,마산,MBJ 0n,1 days 15:45:00
11460,3FDI5,MORNING LILY,NaN,1,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,21EUKOV921I,MBJ,마산,평택.당진,MBJ 0n,0 days 15:45:00
11461,3FHK6,모닝 세실,NaN,1,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,21EUKOV916I,MBJ,"BRUNSWICK, GA",목포,MBJ 0n,0 days 15:45:00

# dataframe 분할

In [37]:
# 자동차부두와 6부두에 머무는 선박들
df_J = df_Car.query('계선장소 == "MBJ"').reset_index(drop=True)
df_6 = df_Car.query('계선장소 == "MB6"').reset_index(drop=True)

In [38]:
# df1에 전처리 기록 중간저장
df = df_Car
df1 = df_Car
df

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,차항지,전출항지,선박용도,계선,입출항 차이
12,9HA2272,TITANIA,1.0,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,목포,장승포,자동차운반선,MBJ 02,4 days 20:00:00
13,3EJK5,WESTERN HIGHWAY,1.0,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,SINGAPORE,"KANDA, FUKUOKA",자동차운반선,MBJ 02,4 days 11:35:00
14,V7FT4,NORTHERN HIGHWAY,1.0,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,NEW WESTMINSTER,광양,자동차운반선,MBJ 01,1 days 14:00:00
15,V7FT4,NORTHERN HIGHWAY,1.0,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,NEW WESTMINSTER,광양,자동차운반선,MBJ 03,1 days 14:00:00
16,A8VI6,CAR STAR,1.0,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,YOKOHAMA,"NAGOYA, AICHI",자동차운반선,MBJ 03,0 days 07:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,NaN,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,광양,SINGAPORE,자동차운반선,MBJ 0n,0 days 15:45:00
11458,ZDNC6,PASSAMA,NaN,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,MOJI/KITAKYUSHU,마산,자동차운반선,MBJ 0n,3 days 01:00:00
11459,DSMZ8,아세안 메저스티호,NaN,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,평택.당진,마산,자동차운반선,MBJ 0n,1 days 15:45:00
11460,3FDI5,MORNING LILY,NaN,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,마산,평택.당진,자동차운반선,MBJ 0n,0 days 15:45:00
11461,3FHK6,모닝 세실,NaN,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,"BRUNSWICK, GA",목포,자동차운반선,MBJ 0n,0 days 15:45:00

# EDA

In [79]:
df.drop(['수리일시', '선박용도', '징수톤수', '국제톤수'], axis=1, inplace=True).reset_index(drop=True)
df

KeyError: "['수리일시' '선박용도' '징수톤수' '국제톤수'] not found in axis"

,호출부호,선명,입항횟수,입출,총톤수,입항일시,출항일시,CIO수속일자,MRN 번호,계선장소,차항지,전출항지,계선,입출항 차이
0,9HA2272,TITANIA,1.0,0,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,12EUKOV0179,MBJ,목포,장승포,MBJ 02,4 days 20:00:00
1,3EJK5,WESTERN HIGHWAY,1.0,0,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,12EVOLU0039,MBJ,SINGAPORE,"KANDA, FUKUOKA",MBJ 02,4 days 11:35:00
2,V7FT4,NORTHERN HIGHWAY,1.0,1,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,11GLVSU1985,MBJ,NEW WESTMINSTER,광양,MBJ 01,1 days 14:00:00
3,V7FT4,NORTHERN HIGHWAY,1.0,0,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,12GLVSU0026,MBJ,NEW WESTMINSTER,광양,MBJ 03,1 days 14:00:00
4,A8VI6,CAR STAR,1.0,0,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,12ZIMUECS10,MBJ,YOKOHAMA,"NAGOYA, AICHI",MBJ 03,0 days 07:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11442,H3NG,PRESTIGE ACE,NaN,1,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,21GLVSE147I,MBJ,광양,SINGAPORE,MBJ 0n,0 days 15:45:00
11443,ZDNC6,PASSAMA,NaN,1,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,21L53KI448I,MBJ,MOJI/KITAKYUSHU,마산,MBJ 0n,3 days 01:00:00
11444,DSMZ8,아세안 메저스티호,NaN,1,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,21EUKOV913I,MBJ,평택.당진,마산,MBJ 0n,1 days 15:45:00
11445,3FDI5,MORNING LILY,NaN,1,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,21EUKOV921I,MBJ,마산,평택.당진,MBJ 0n,0 days 15:45:00
11446,3FHK6,모닝 세실,NaN,1,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,21EUKOV916I,MBJ,"BRUNSWICK, GA",목포,MBJ 0n,0 days 15:45:00

In [ ]:
# # 입출항 차이 timestamp(datetime)형으로 변환
# df_Car['입출항 차이'] = pd.to_datetime(df['입출항 차이'], format='%Y-%m-%d %H:%M:%S')
# df_Car['입출항 차이']

In [41]:
df.describe()
# 입출항 차이는 평균 하루이다.

               입항횟수            입출           총톤수                     입출항 차이
count  10851.000000  11447.000000  11447.000000                      11447
mean       2.403373      0.499869  55261.021840  1 days 05:15:33.231414344
std        1.663083      0.500022  11683.931107  1 days 09:37:31.835806774
min        1.000000      0.000000   4464.000000         -13 days +03:23:00
25%        1.000000      0.000000  47654.000000            0 days 09:00:00
50%        2.000000      0.000000  58631.000000            0 days 15:08:00
75%        3.000000      1.000000  60876.000000            1 days 10:25:00
max       13.000000      1.000000  76420.000000           15 days 22:30:00

In [78]:
# 입출항 차이 timedelta값을 datetime으로 바꾸기

In [76]:
df.iloc[[1], 13]

13   4 days 11:35:00
Name: 입출항 차이, dtype: timedelta64[ns]

In [77]:
for i in range(11447):
    if df.iloc[[i], 13] < '4 days 11:35:00':
        print(df.iloc[[i], :])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [42]:
df['입출'].value_counts()

0    5725
1    5722
Name: 입출, dtype: int64

In [43]:
df['입항횟수'].value_counts()

1.0     4199
2.0     2680
3.0     1739
4.0     1084
5.0      552
6.0      304
7.0      143
8.0       64
9.0       36
10.0      22
11.0      14
12.0      10
13.0       4
Name: 입항횟수, dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11447 entries, 12 to 11461
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   호출부호     11447 non-null  object
 1   선명       11447 non-null  object
 2   입항횟수     10851 non-null  float64
 3   입출       11447 non-null  int64
 4   총톤수      11447 non-null  int64
 5   입항일시     11447 non-null  datetime64[ns]
 6   출항일시     11447 non-null  datetime64[ns]
 7   CIO수속일자  11445 non-null  datetime64[ns]
 8   MRN 번호   11444 non-null  object
 9   계선장소     11447 non-null  object
 10  차항지      11435 non-null  object
 11  전출항지     11435 non-null  object
 12  계선       11447 non-null  object
 13  입출항 차이   11447 non-null  timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), int64(2), object(7), timedelta64[ns](1)
memory usage: 1.6+ MB

In [45]:
df.isnull().sum()

호출부호         0
선명           0
입항횟수       596
입출           0
총톤수          0
입항일시         0
출항일시         0
CIO수속일자      2
MRN 번호       3
계선장소         0
차항지         12
전출항지        12
계선           0
입출항 차이       0
dtype: int64