In [122]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [104]:
df = pd.read_excel('Port_2020.xlsx', header=12)
df.head()

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,국제톤수,...,차항지,전출항지,선박용도,승무원 1,승무원 2,승객,예선,도선,부선호출부호1,부선호출부호2
0,울산,3EFF5,EVER CHARM,2020,1,최종,외항,출항,"17,933","17,933",...,NaN,NaN,신조선,NaN,18.0,NaN,Y,Y,NaN,NaN
1,울산,3ETC7,EVER CHEER,2020,1,최종,외항,출항,"17,933","17,933",...,NaN,NaN,신조선,2.0,16.0,NaN,N,N,NaN,NaN
2,울산,3FAW9,ESTEEM HOUSTON,2020,1,최종,외항,출항,"29,651","29,651",...,NaN,NaN,신조선,NaN,27.0,NaN,N,N,NaN,NaN
3,울산,3FKA6,POS HOCHIMINH,2020,1,최종,외항,출항,"18,085","18,085",...,NaN,NaN,풀컨테이너선,5.0,14.0,1.0,Y,Y,NaN,NaN
4,울산,3FWO,SOLAR KATHERINE,2020,1,최종,외항,출항,"29,591","29,591",...,NaN,NaN,신조선,NaN,24.0,NaN,Y,Y,NaN,NaN

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48061 entries, 0 to 48060
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   항명       48061 non-null  object
 1   호출부호     48061 non-null  object
 2   선명       48061 non-null  object
 3   입항횟수     48061 non-null  int64
 4   입항횟수.1   48061 non-null  int64
 5   구분       48061 non-null  object
 6   외내       48061 non-null  object
 7   입출       48061 non-null  object
 8   총톤수      48048 non-null  object
 9   국제톤수     48049 non-null  object
 10  징수톤수     48049 non-null  object
 11  입항일시     48061 non-null  object
 12  출항일시     48061 non-null  object
 13  CIO수속일자  25942 non-null  object
 14  수리일시     48010 non-null  object
 15  항해구분     48048 non-null  object
 16  MRN 번호   22298 non-null  object
 17  국적       48047 non-null  object
 18  국적.1     48047 non-null  object
 19  계선장소     48050 non-null  object
 20  계선장소.1   48050 non-null  float64
 21  계선장소.2   48050 non-null  object
 22  차항지      47962 non-null  object
 23  전출항지     47962 non-null  object
 24  선박용도     48052 non-null  object
 25  승무원 1    37196 non-null  float64
 26  승무원 2    47855 non-null  float64
 27  승객       22052 non-null  float64
 28  예선       48047 non-null  object
 29  도선       48047 non-null  object
 30  부선호출부호1  3529 non-null   object
 31  부선호출부호2  5 non-null      float64
dtypes: float64(5), int64(2), object(25)
memory usage: 11.7+ MB

In [106]:
df.describe()

,입항횟수,입항횟수.1,계선장소.1,승무원 1,승무원 2,승객,부선호출부호2
count,48061.000000,48061.000000,48050.000000,37196.000000,47855.000000,22052.000000,5.000000
mean,2019.996588,21.564075,3.281311,4.889235,8.763013,0.091692,147281.600000
std,0.075429,26.260016,4.154282,2.456075,7.336672,1.261914,39900.336324
min,2011.000000,1.000000,1.000000,0.000000,0.000000,0.000000,106362.000000
25%,2020.000000,3.000000,1.000000,3.000000,3.000000,0.000000,110011.000000
50%,2020.000000,11.000000,2.000000,4.000000,6.000000,0.000000,150003.000000
75%,2020.000000,30.000000,3.000000,6.000000,14.000000,0.000000,170025.000000
max,2021.000000,208.000000,27.000000,54.000000,87.000000,53.000000,200007.000000

# 데이터 EDA를 하기 위한 전처리

In [107]:
# 날짜데이터들 timestamp(datetime)형으로 변환
for colname in ['입항일시', '출항일시', 'CIO수속일자', '수리일시']:
    df[colname] = pd.to_datetime(df[colname], format='%Y-%m-%d %H:%M')
df['입항일시']

0       1950-01-01 00:00:00
1       1950-01-01 00:00:00
2       1950-01-01 00:00:00
3       1950-01-01 00:00:00
4       1950-01-01 00:00:00
                ...
48056   2020-12-31 20:00:00
48057   2020-12-31 20:45:00
48058   2020-12-31 21:10:00
48059   2020-12-31 22:00:00
48060   2020-12-31 23:50:00
Name: 입항일시, Length: 48061, dtype: datetime64[ns]

In [108]:
# 입항횟수(연도) timestamp(datetime)형으로 변환
df['입항횟수'] = pd.to_datetime(df['입항횟수'], format='%Y')

In [109]:
# 톤수들의 문자열에서 ',' 제거 후 numeric으로 변환
for colname in ['총톤수', '국제톤수', '징수톤수']:
    df[colname] = df[colname].str.replace(',', '')
    df[colname] = pd.to_numeric(df[colname])

In [110]:
# 필요없는 변수 제거
df.drop(['항명', '입항횟수', '구분', '외내', '항해구분', '예선', '도선', '국적', '국적.1', '승무원 1', '승무원 2', '승객', '부선호출부호1', '부선호출부호2', '계선장소.2'], axis=1, inplace=True)
df

,호출부호,선명,입항횟수.1,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도
0,3EFF5,EVER CHARM,1,출항,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-06-16 20:05:00,2020-06-16 19:05:00,2020-06-19 18:15:00,20GRTSD110E,WAB,2.0,NaN,NaN,신조선
1,3ETC7,EVER CHEER,1,출항,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-07-07 19:42:00,2020-07-07 18:42:00,2020-07-10 13:21:00,20GRTSD125E,WAB,2.0,NaN,NaN,신조선
2,3FAW9,ESTEEM HOUSTON,1,출항,29651.0,29651.0,29651.0,1950-01-01 00:00:00,2020-06-07 15:36:00,2020-06-07 14:00:00,2020-06-08 14:29:00,20L52KA081E,WAE,2.0,NaN,NaN,신조선
3,3FKA6,POS HOCHIMINH,1,출항,18085.0,18085.0,18085.0,1950-01-01 00:00:00,2020-01-10 15:00:00,2020-01-10 15:00:00,2020-01-13 14:55:00,20L53KE007E,MQM,4.0,NaN,NaN,풀컨테이너선
4,3FWO,SOLAR KATHERINE,1,출항,29591.0,29591.0,29591.0,1950-01-01 00:00:00,2020-06-19 01:36:00,2020-06-18 23:00:00,2020-06-19 17:45:00,20UNSCD046E,WAB,2.0,NaN,NaN,신조선
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48056,D5ND5,NEW GIANT,3,입항,166223.0,166223.0,166223.0,2020-12-31 20:00:00,2021-01-03 01:40:00,2021-01-01 08:10:00,2021-01-08 17:30:00,20SSYYCA43I,WAE,3.0,AL FUJAYRAH,RAS TANURA,원유운반선
48057,DSME,우림 7,26,입항,8072.0,8072.0,8072.0,2020-12-31 20:45:00,2021-01-02 11:05:00,2020-12-31 20:45:00,2021-01-04 12:01:00,NaN,MDY,2.0,여수,여수,석유제품 운반선
48058,200024,세창비너스,2,입항,1668.0,2068.0,1668.0,2020-12-31 21:10:00,2021-01-05 21:50:00,NaT,2021-01-06 13:17:00,NaN,WAM,2.0,부산,부산,석유제품 운반선
48059,D7SM,원네스,5,입항,5315.0,5315.0,5315.0,2020-12-31 22:00:00,2021-01-02 15:10:00,2020-12-31 23:00:00,2021-01-04 17:10:00,20GRTSR069I,WAE,1.0,"NAGOYA, AICHI","NAGOYA, AICHI",케미칼 운반선
48060,975660,성심호,23,입항,146.0,146.0,146.0,2020-12-31 23:50:00,2021-01-01 00:25:00,NaT,2021-01-12 17:53:00,NaN,MLJ,1.0,기타항,부산,석유제품 운반선

In [111]:
# 입출 칼럼 입항:1, 출항:0 으로 변환

# dict: 기존 값, 바꾸고자 하는 값
change_dict = {'입항': 1, '출항': 0}

# 변경
df = df.replace({'입출':change_dict})
df

,호출부호,선명,입항횟수.1,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도
0,3EFF5,EVER CHARM,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-06-16 20:05:00,2020-06-16 19:05:00,2020-06-19 18:15:00,20GRTSD110E,WAB,2.0,NaN,NaN,신조선
1,3ETC7,EVER CHEER,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-07-07 19:42:00,2020-07-07 18:42:00,2020-07-10 13:21:00,20GRTSD125E,WAB,2.0,NaN,NaN,신조선
2,3FAW9,ESTEEM HOUSTON,1,0,29651.0,29651.0,29651.0,1950-01-01 00:00:00,2020-06-07 15:36:00,2020-06-07 14:00:00,2020-06-08 14:29:00,20L52KA081E,WAE,2.0,NaN,NaN,신조선
3,3FKA6,POS HOCHIMINH,1,0,18085.0,18085.0,18085.0,1950-01-01 00:00:00,2020-01-10 15:00:00,2020-01-10 15:00:00,2020-01-13 14:55:00,20L53KE007E,MQM,4.0,NaN,NaN,풀컨테이너선
4,3FWO,SOLAR KATHERINE,1,0,29591.0,29591.0,29591.0,1950-01-01 00:00:00,2020-06-19 01:36:00,2020-06-18 23:00:00,2020-06-19 17:45:00,20UNSCD046E,WAB,2.0,NaN,NaN,신조선
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48056,D5ND5,NEW GIANT,3,1,166223.0,166223.0,166223.0,2020-12-31 20:00:00,2021-01-03 01:40:00,2021-01-01 08:10:00,2021-01-08 17:30:00,20SSYYCA43I,WAE,3.0,AL FUJAYRAH,RAS TANURA,원유운반선
48057,DSME,우림 7,26,1,8072.0,8072.0,8072.0,2020-12-31 20:45:00,2021-01-02 11:05:00,2020-12-31 20:45:00,2021-01-04 12:01:00,NaN,MDY,2.0,여수,여수,석유제품 운반선
48058,200024,세창비너스,2,1,1668.0,2068.0,1668.0,2020-12-31 21:10:00,2021-01-05 21:50:00,NaT,2021-01-06 13:17:00,NaN,WAM,2.0,부산,부산,석유제품 운반선
48059,D7SM,원네스,5,1,5315.0,5315.0,5315.0,2020-12-31 22:00:00,2021-01-02 15:10:00,2020-12-31 23:00:00,2021-01-04 17:10:00,20GRTSR069I,WAE,1.0,"NAGOYA, AICHI","NAGOYA, AICHI",케미칼 운반선
48060,975660,성심호,23,1,146.0,146.0,146.0,2020-12-31 23:50:00,2021-01-01 00:25:00,NaT,2021-01-12 17:53:00,NaN,MLJ,1.0,기타항,부산,석유제품 운반선

In [112]:
# 칼럼 이름 변경
df.rename(columns={'입항횟수.1': '입항횟수'}, inplace=True)
df

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도
0,3EFF5,EVER CHARM,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-06-16 20:05:00,2020-06-16 19:05:00,2020-06-19 18:15:00,20GRTSD110E,WAB,2.0,NaN,NaN,신조선
1,3ETC7,EVER CHEER,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-07-07 19:42:00,2020-07-07 18:42:00,2020-07-10 13:21:00,20GRTSD125E,WAB,2.0,NaN,NaN,신조선
2,3FAW9,ESTEEM HOUSTON,1,0,29651.0,29651.0,29651.0,1950-01-01 00:00:00,2020-06-07 15:36:00,2020-06-07 14:00:00,2020-06-08 14:29:00,20L52KA081E,WAE,2.0,NaN,NaN,신조선
3,3FKA6,POS HOCHIMINH,1,0,18085.0,18085.0,18085.0,1950-01-01 00:00:00,2020-01-10 15:00:00,2020-01-10 15:00:00,2020-01-13 14:55:00,20L53KE007E,MQM,4.0,NaN,NaN,풀컨테이너선
4,3FWO,SOLAR KATHERINE,1,0,29591.0,29591.0,29591.0,1950-01-01 00:00:00,2020-06-19 01:36:00,2020-06-18 23:00:00,2020-06-19 17:45:00,20UNSCD046E,WAB,2.0,NaN,NaN,신조선
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48056,D5ND5,NEW GIANT,3,1,166223.0,166223.0,166223.0,2020-12-31 20:00:00,2021-01-03 01:40:00,2021-01-01 08:10:00,2021-01-08 17:30:00,20SSYYCA43I,WAE,3.0,AL FUJAYRAH,RAS TANURA,원유운반선
48057,DSME,우림 7,26,1,8072.0,8072.0,8072.0,2020-12-31 20:45:00,2021-01-02 11:05:00,2020-12-31 20:45:00,2021-01-04 12:01:00,NaN,MDY,2.0,여수,여수,석유제품 운반선
48058,200024,세창비너스,2,1,1668.0,2068.0,1668.0,2020-12-31 21:10:00,2021-01-05 21:50:00,NaT,2021-01-06 13:17:00,NaN,WAM,2.0,부산,부산,석유제품 운반선
48059,D7SM,원네스,5,1,5315.0,5315.0,5315.0,2020-12-31 22:00:00,2021-01-02 15:10:00,2020-12-31 23:00:00,2021-01-04 17:10:00,20GRTSR069I,WAE,1.0,"NAGOYA, AICHI","NAGOYA, AICHI",케미칼 운반선
48060,975660,성심호,23,1,146.0,146.0,146.0,2020-12-31 23:50:00,2021-01-01 00:25:00,NaT,2021-01-12 17:53:00,NaN,MLJ,1.0,기타항,부산,석유제품 운반선

In [113]:
# 계선장소.1 string으로 변경후 계선장소와 합침
# 계선장소.1 object로 타입변환
df['계선장소.1'] = df['계선장소.1'].astype(str)
# 새로운 열 생성
df['계선장소.2'] = df['계선장소.1'].str[0]
df['계선장소.1'] = "0" + df['계선장소.2'].map(str)

In [114]:
# 변환하기 위해 만들었던 열 삭제
df.drop('계선장소.2', axis=1, inplace=True)
df

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도
0,3EFF5,EVER CHARM,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-06-16 20:05:00,2020-06-16 19:05:00,2020-06-19 18:15:00,20GRTSD110E,WAB,02,NaN,NaN,신조선
1,3ETC7,EVER CHEER,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-07-07 19:42:00,2020-07-07 18:42:00,2020-07-10 13:21:00,20GRTSD125E,WAB,02,NaN,NaN,신조선
2,3FAW9,ESTEEM HOUSTON,1,0,29651.0,29651.0,29651.0,1950-01-01 00:00:00,2020-06-07 15:36:00,2020-06-07 14:00:00,2020-06-08 14:29:00,20L52KA081E,WAE,02,NaN,NaN,신조선
3,3FKA6,POS HOCHIMINH,1,0,18085.0,18085.0,18085.0,1950-01-01 00:00:00,2020-01-10 15:00:00,2020-01-10 15:00:00,2020-01-13 14:55:00,20L53KE007E,MQM,04,NaN,NaN,풀컨테이너선
4,3FWO,SOLAR KATHERINE,1,0,29591.0,29591.0,29591.0,1950-01-01 00:00:00,2020-06-19 01:36:00,2020-06-18 23:00:00,2020-06-19 17:45:00,20UNSCD046E,WAB,02,NaN,NaN,신조선
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48056,D5ND5,NEW GIANT,3,1,166223.0,166223.0,166223.0,2020-12-31 20:00:00,2021-01-03 01:40:00,2021-01-01 08:10:00,2021-01-08 17:30:00,20SSYYCA43I,WAE,03,AL FUJAYRAH,RAS TANURA,원유운반선
48057,DSME,우림 7,26,1,8072.0,8072.0,8072.0,2020-12-31 20:45:00,2021-01-02 11:05:00,2020-12-31 20:45:00,2021-01-04 12:01:00,NaN,MDY,02,여수,여수,석유제품 운반선
48058,200024,세창비너스,2,1,1668.0,2068.0,1668.0,2020-12-31 21:10:00,2021-01-05 21:50:00,NaT,2021-01-06 13:17:00,NaN,WAM,02,부산,부산,석유제품 운반선
48059,D7SM,원네스,5,1,5315.0,5315.0,5315.0,2020-12-31 22:00:00,2021-01-02 15:10:00,2020-12-31 23:00:00,2021-01-04 17:10:00,20GRTSR069I,WAE,01,"NAGOYA, AICHI","NAGOYA, AICHI",케미칼 운반선
48060,975660,성심호,23,1,146.0,146.0,146.0,2020-12-31 23:50:00,2021-01-01 00:25:00,NaT,2021-01-12 17:53:00,NaN,MLJ,01,기타항,부산,석유제품 운반선

In [115]:
df['계선'] = df['계선장소'] + " " +  df['계선장소.1'].astype(str)
df

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,계선
0,3EFF5,EVER CHARM,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-06-16 20:05:00,2020-06-16 19:05:00,2020-06-19 18:15:00,20GRTSD110E,WAB,02,NaN,NaN,신조선,WAB 02
1,3ETC7,EVER CHEER,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-07-07 19:42:00,2020-07-07 18:42:00,2020-07-10 13:21:00,20GRTSD125E,WAB,02,NaN,NaN,신조선,WAB 02
2,3FAW9,ESTEEM HOUSTON,1,0,29651.0,29651.0,29651.0,1950-01-01 00:00:00,2020-06-07 15:36:00,2020-06-07 14:00:00,2020-06-08 14:29:00,20L52KA081E,WAE,02,NaN,NaN,신조선,WAE 02
3,3FKA6,POS HOCHIMINH,1,0,18085.0,18085.0,18085.0,1950-01-01 00:00:00,2020-01-10 15:00:00,2020-01-10 15:00:00,2020-01-13 14:55:00,20L53KE007E,MQM,04,NaN,NaN,풀컨테이너선,MQM 04
4,3FWO,SOLAR KATHERINE,1,0,29591.0,29591.0,29591.0,1950-01-01 00:00:00,2020-06-19 01:36:00,2020-06-18 23:00:00,2020-06-19 17:45:00,20UNSCD046E,WAB,02,NaN,NaN,신조선,WAB 02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48056,D5ND5,NEW GIANT,3,1,166223.0,166223.0,166223.0,2020-12-31 20:00:00,2021-01-03 01:40:00,2021-01-01 08:10:00,2021-01-08 17:30:00,20SSYYCA43I,WAE,03,AL FUJAYRAH,RAS TANURA,원유운반선,WAE 03
48057,DSME,우림 7,26,1,8072.0,8072.0,8072.0,2020-12-31 20:45:00,2021-01-02 11:05:00,2020-12-31 20:45:00,2021-01-04 12:01:00,NaN,MDY,02,여수,여수,석유제품 운반선,MDY 02
48058,200024,세창비너스,2,1,1668.0,2068.0,1668.0,2020-12-31 21:10:00,2021-01-05 21:50:00,NaT,2021-01-06 13:17:00,NaN,WAM,02,부산,부산,석유제품 운반선,WAM 02
48059,D7SM,원네스,5,1,5315.0,5315.0,5315.0,2020-12-31 22:00:00,2021-01-02 15:10:00,2020-12-31 23:00:00,2021-01-04 17:10:00,20GRTSR069I,WAE,01,"NAGOYA, AICHI","NAGOYA, AICHI",케미칼 운반선,WAE 01
48060,975660,성심호,23,1,146.0,146.0,146.0,2020-12-31 23:50:00,2021-01-01 00:25:00,NaT,2021-01-12 17:53:00,NaN,MLJ,01,기타항,부산,석유제품 운반선,MLJ 01

In [116]:
df.drop(['계선장소.1'], axis=1, inplace=True)
df

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,차항지,전출항지,선박용도,계선
0,3EFF5,EVER CHARM,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-06-16 20:05:00,2020-06-16 19:05:00,2020-06-19 18:15:00,20GRTSD110E,WAB,NaN,NaN,신조선,WAB 02
1,3ETC7,EVER CHEER,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-07-07 19:42:00,2020-07-07 18:42:00,2020-07-10 13:21:00,20GRTSD125E,WAB,NaN,NaN,신조선,WAB 02
2,3FAW9,ESTEEM HOUSTON,1,0,29651.0,29651.0,29651.0,1950-01-01 00:00:00,2020-06-07 15:36:00,2020-06-07 14:00:00,2020-06-08 14:29:00,20L52KA081E,WAE,NaN,NaN,신조선,WAE 02
3,3FKA6,POS HOCHIMINH,1,0,18085.0,18085.0,18085.0,1950-01-01 00:00:00,2020-01-10 15:00:00,2020-01-10 15:00:00,2020-01-13 14:55:00,20L53KE007E,MQM,NaN,NaN,풀컨테이너선,MQM 04
4,3FWO,SOLAR KATHERINE,1,0,29591.0,29591.0,29591.0,1950-01-01 00:00:00,2020-06-19 01:36:00,2020-06-18 23:00:00,2020-06-19 17:45:00,20UNSCD046E,WAB,NaN,NaN,신조선,WAB 02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48056,D5ND5,NEW GIANT,3,1,166223.0,166223.0,166223.0,2020-12-31 20:00:00,2021-01-03 01:40:00,2021-01-01 08:10:00,2021-01-08 17:30:00,20SSYYCA43I,WAE,AL FUJAYRAH,RAS TANURA,원유운반선,WAE 03
48057,DSME,우림 7,26,1,8072.0,8072.0,8072.0,2020-12-31 20:45:00,2021-01-02 11:05:00,2020-12-31 20:45:00,2021-01-04 12:01:00,NaN,MDY,여수,여수,석유제품 운반선,MDY 02
48058,200024,세창비너스,2,1,1668.0,2068.0,1668.0,2020-12-31 21:10:00,2021-01-05 21:50:00,NaT,2021-01-06 13:17:00,NaN,WAM,부산,부산,석유제품 운반선,WAM 02
48059,D7SM,원네스,5,1,5315.0,5315.0,5315.0,2020-12-31 22:00:00,2021-01-02 15:10:00,2020-12-31 23:00:00,2021-01-04 17:10:00,20GRTSR069I,WAE,"NAGOYA, AICHI","NAGOYA, AICHI",케미칼 운반선,WAE 01
48060,975660,성심호,23,1,146.0,146.0,146.0,2020-12-31 23:50:00,2021-01-01 00:25:00,NaT,2021-01-12 17:53:00,NaN,MLJ,기타항,부산,석유제품 운반선,MLJ 01

# dataframe 분할

In [130]:
# df1에 전처리 기록 중간저장
df1 = df
df1

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,차항지,전출항지,선박용도,계선
0,3EFF5,EVER CHARM,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-06-16 20:05:00,2020-06-16 19:05:00,2020-06-19 18:15:00,20GRTSD110E,WAB,NaN,NaN,신조선,WAB 02
1,3ETC7,EVER CHEER,1,0,17933.0,17933.0,17933.0,1950-01-01 00:00:00,2020-07-07 19:42:00,2020-07-07 18:42:00,2020-07-10 13:21:00,20GRTSD125E,WAB,NaN,NaN,신조선,WAB 02
2,3FAW9,ESTEEM HOUSTON,1,0,29651.0,29651.0,29651.0,1950-01-01 00:00:00,2020-06-07 15:36:00,2020-06-07 14:00:00,2020-06-08 14:29:00,20L52KA081E,WAE,NaN,NaN,신조선,WAE 02
3,3FKA6,POS HOCHIMINH,1,0,18085.0,18085.0,18085.0,1950-01-01 00:00:00,2020-01-10 15:00:00,2020-01-10 15:00:00,2020-01-13 14:55:00,20L53KE007E,MQM,NaN,NaN,풀컨테이너선,MQM 04
4,3FWO,SOLAR KATHERINE,1,0,29591.0,29591.0,29591.0,1950-01-01 00:00:00,2020-06-19 01:36:00,2020-06-18 23:00:00,2020-06-19 17:45:00,20UNSCD046E,WAB,NaN,NaN,신조선,WAB 02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48056,D5ND5,NEW GIANT,3,1,166223.0,166223.0,166223.0,2020-12-31 20:00:00,2021-01-03 01:40:00,2021-01-01 08:10:00,2021-01-08 17:30:00,20SSYYCA43I,WAE,AL FUJAYRAH,RAS TANURA,원유운반선,WAE 03
48057,DSME,우림 7,26,1,8072.0,8072.0,8072.0,2020-12-31 20:45:00,2021-01-02 11:05:00,2020-12-31 20:45:00,2021-01-04 12:01:00,NaN,MDY,여수,여수,석유제품 운반선,MDY 02
48058,200024,세창비너스,2,1,1668.0,2068.0,1668.0,2020-12-31 21:10:00,2021-01-05 21:50:00,NaT,2021-01-06 13:17:00,NaN,WAM,부산,부산,석유제품 운반선,WAM 02
48059,D7SM,원네스,5,1,5315.0,5315.0,5315.0,2020-12-31 22:00:00,2021-01-02 15:10:00,2020-12-31 23:00:00,2021-01-04 17:10:00,20GRTSR069I,WAE,"NAGOYA, AICHI","NAGOYA, AICHI",케미칼 운반선,WAE 01
48060,975660,성심호,23,1,146.0,146.0,146.0,2020-12-31 23:50:00,2021-01-01 00:25:00,NaT,2021-01-12 17:53:00,NaN,MLJ,기타항,부산,석유제품 운반선,MLJ 01

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48061 entries, 0 to 48060
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   호출부호     48061 non-null  object
 1   선명       48061 non-null  object
 2   입항횟수     48061 non-null  int64
 3   입출       48061 non-null  int64
 4   총톤수      48048 non-null  float64
 5   국제톤수     48049 non-null  float64
 6   징수톤수     48049 non-null  float64
 7   입항일시     48061 non-null  datetime64[ns]
 8   출항일시     48061 non-null  datetime64[ns]
 9   CIO수속일자  25942 non-null  datetime64[ns]
 10  수리일시     48010 non-null  datetime64[ns]
 11  MRN 번호   22298 non-null  object
 12  계선장소     48050 non-null  object
 13  차항지      47962 non-null  object
 14  전출항지     47962 non-null  object
 15  선박용도     48052 non-null  object
 16  계선       48050 non-null  object
dtypes: datetime64[ns](4), float64(3), int64(2), object(8)
memory usage: 6.2+ MB

In [132]:
df.isnull().sum()

호출부호           0
선명             0
입항횟수           0
입출             0
총톤수           13
국제톤수          12
징수톤수          12
입항일시           0
출항일시           0
CIO수속일자    22119
수리일시          51
MRN 번호     25763
계선장소          11
차항지           99
전출항지          99
선박용도           9
계선            11
dtype: int64

In [144]:
# 1950년 1월1일 입항인 선박 행 삭제
df.drop(df.query('입항일시 == "1950-01-01 00:00:00"').index, inplace=True)
df

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,차항지,전출항지,선박용도,계선,입출항 차이
76,110010,제5동화호,1,0,89.0,0.0,89.0,2011-03-01 10:00:00,2020-05-21 13:40:00,NaT,2021-02-03 11:04:00,NaN,MLJ,부산,부산,기타선,MLJ 01,3369 days 03:40:00
77,967882,진산2호,1,0,12.0,12.0,12.0,2017-02-16 12:50:00,2020-04-09 08:05:00,NaT,NaT,NaN,MLJ,기타항,기타항,기타선,MLJ 01,1147 days 19:15:00
78,174808,바다2호,1,0,299.0,299.0,299.0,2017-07-14 23:20:00,2020-07-06 03:30:00,NaT,2020-07-10 15:26:00,NaN,MLJ,부산,여수,기타 예선,MLJ 01,1087 days 04:10:00
79,154809,한동17호,1,0,157.0,0.0,157.0,2017-10-27 15:00:00,2020-05-28 10:00:00,NaT,2020-05-29 16:53:00,NaN,MLJ,기타항,포항,석유제품 운반선,MLJ 01,943 days 19:00:00
80,078231,일광203호,4,0,175.0,0.0,175.0,2018-01-19 12:30:00,2020-08-29 07:00:00,NaT,2020-12-29 11:12:00,NaN,MLJ,기타항,기타항,기타 예선,MLJ 01,952 days 18:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48056,D5ND5,NEW GIANT,3,1,166223.0,166223.0,166223.0,2020-12-31 20:00:00,2021-01-03 01:40:00,2021-01-01 08:10:00,2021-01-08 17:30:00,20SSYYCA43I,WAE,AL FUJAYRAH,RAS TANURA,원유운반선,WAE 03,2 days 05:40:00
48057,DSME,우림 7,26,1,8072.0,8072.0,8072.0,2020-12-31 20:45:00,2021-01-02 11:05:00,2020-12-31 20:45:00,2021-01-04 12:01:00,NaN,MDY,여수,여수,석유제품 운반선,MDY 02,1 days 14:20:00
48058,200024,세창비너스,2,1,1668.0,2068.0,1668.0,2020-12-31 21:10:00,2021-01-05 21:50:00,NaT,2021-01-06 13:17:00,NaN,WAM,부산,부산,석유제품 운반선,WAM 02,5 days 00:40:00
48059,D7SM,원네스,5,1,5315.0,5315.0,5315.0,2020-12-31 22:00:00,2021-01-02 15:10:00,2020-12-31 23:00:00,2021-01-04 17:10:00,20GRTSR069I,WAE,"NAGOYA, AICHI","NAGOYA, AICHI",케미칼 운반선,WAE 01,1 days 17:10:00
48060,975660,성심호,23,1,146.0,146.0,146.0,2020-12-31 23:50:00,2021-01-01 00:25:00,NaT,2021-01-12 17:53:00,NaN,MLJ,기타항,부산,석유제품 운반선,MLJ 01,0 days 00:35:00

In [145]:
# 입출항 차이 행 추가
df['입출항 차이'] = df['출항일시']-df['입항일시']
df

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,차항지,전출항지,선박용도,계선,입출항 차이
76,110010,제5동화호,1,0,89.0,0.0,89.0,2011-03-01 10:00:00,2020-05-21 13:40:00,NaT,2021-02-03 11:04:00,NaN,MLJ,부산,부산,기타선,MLJ 01,3369 days 03:40:00
77,967882,진산2호,1,0,12.0,12.0,12.0,2017-02-16 12:50:00,2020-04-09 08:05:00,NaT,NaT,NaN,MLJ,기타항,기타항,기타선,MLJ 01,1147 days 19:15:00
78,174808,바다2호,1,0,299.0,299.0,299.0,2017-07-14 23:20:00,2020-07-06 03:30:00,NaT,2020-07-10 15:26:00,NaN,MLJ,부산,여수,기타 예선,MLJ 01,1087 days 04:10:00
79,154809,한동17호,1,0,157.0,0.0,157.0,2017-10-27 15:00:00,2020-05-28 10:00:00,NaT,2020-05-29 16:53:00,NaN,MLJ,기타항,포항,석유제품 운반선,MLJ 01,943 days 19:00:00
80,078231,일광203호,4,0,175.0,0.0,175.0,2018-01-19 12:30:00,2020-08-29 07:00:00,NaT,2020-12-29 11:12:00,NaN,MLJ,기타항,기타항,기타 예선,MLJ 01,952 days 18:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48056,D5ND5,NEW GIANT,3,1,166223.0,166223.0,166223.0,2020-12-31 20:00:00,2021-01-03 01:40:00,2021-01-01 08:10:00,2021-01-08 17:30:00,20SSYYCA43I,WAE,AL FUJAYRAH,RAS TANURA,원유운반선,WAE 03,2 days 05:40:00
48057,DSME,우림 7,26,1,8072.0,8072.0,8072.0,2020-12-31 20:45:00,2021-01-02 11:05:00,2020-12-31 20:45:00,2021-01-04 12:01:00,NaN,MDY,여수,여수,석유제품 운반선,MDY 02,1 days 14:20:00
48058,200024,세창비너스,2,1,1668.0,2068.0,1668.0,2020-12-31 21:10:00,2021-01-05 21:50:00,NaT,2021-01-06 13:17:00,NaN,WAM,부산,부산,석유제품 운반선,WAM 02,5 days 00:40:00
48059,D7SM,원네스,5,1,5315.0,5315.0,5315.0,2020-12-31 22:00:00,2021-01-02 15:10:00,2020-12-31 23:00:00,2021-01-04 17:10:00,20GRTSR069I,WAE,"NAGOYA, AICHI","NAGOYA, AICHI",케미칼 운반선,WAE 01,1 days 17:10:00
48060,975660,성심호,23,1,146.0,146.0,146.0,2020-12-31 23:50:00,2021-01-01 00:25:00,NaT,2021-01-12 17:53:00,NaN,MLJ,기타항,부산,석유제품 운반선,MLJ 01,0 days 00:35:00

In [146]:
# 선박용도가 자동차운반선인것들의 데이터 프레임 = df_Car
df_Car = df.query('선박용도 == "자동차운반선"').reset_index(drop=True)
df_Car

,호출부호,선명,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,차항지,전출항지,선박용도,계선,입출항 차이
0,C6TD4,RCC AMERICA,1,0,57718.0,57718.0,57718.0,2019-12-30 20:36:00,2020-01-01 01:15:00,2020-01-01 00:15:00,2020-01-02 13:53:00,20GLVSU002E,MB6,부산,광양,자동차운반선,MB6 02,1 days 04:39:00
1,DSMZ8,아세안 메저스티호,4,0,46398.0,71383.0,71383.0,2019-12-31 12:18:00,2020-01-02 20:30:00,2020-01-02 19:30:00,2020-01-03 14:06:00,20EUKOV010E,MBJ,목포,목포,자동차운반선,MBJ 03,2 days 08:12:00
2,3FDA8,FORTUNE TRADE 1,1,0,9962.0,9962.0,9962.0,2020-01-01 12:00:00,2020-01-02 18:50:00,2020-01-02 18:00:00,2020-01-06 10:28:00,20L53KE009E,MB5,NAKHODKA,SHANGHAI,자동차운반선,MB5 01,1 days 06:50:00
3,3FDA8,FORTUNE TRADE 1,1,1,9962.0,9962.0,9962.0,2020-01-01 12:00:00,2020-01-02 18:50:00,2020-01-01 12:00:00,2020-01-06 10:16:00,20L53KI009I,MB5,NAKHODKA,SHANGHAI,자동차운반선,MB5 01,1 days 06:50:00
4,C6CF7,GLOVIS STAR,1,1,71177.0,71177.0,71177.0,2020-01-02 07:10:00,2020-01-02 17:25:00,2020-01-02 08:10:00,2020-01-03 14:02:00,20GLVSE004I,MB6,광양,평택.당진,자동차운반선,MB6 02,0 days 10:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
870,H3YB,POSITIVE PIONEER,4,1,43810.0,43810.0,43810.0,2020-12-29 07:40:00,2020-12-29 16:00:00,2020-12-29 07:40:00,2020-12-30 17:20:00,20L53KI737I,MBJ,목포,KOBE,자동차운반선,MBJ 03,0 days 08:20:00
871,H3YB,POSITIVE PIONEER,4,0,43810.0,43810.0,43810.0,2020-12-29 07:40:00,2020-12-29 16:00:00,2020-12-29 16:00:00,2020-12-31 08:20:00,20L53KE737E,MB6,목포,KOBE,자동차운반선,MB6 02,0 days 08:20:00
872,3EIU3,GRAND RUBY,2,1,59217.0,59217.0,59217.0,2020-12-29 19:40:00,2020-12-30 21:20:00,2020-12-29 20:40:00,2020-12-31 13:49:00,20GLVSE229I,MBJ,광양,마산,자동차운반선,MBJ 03,1 days 01:40:00
873,3EIU3,GRAND RUBY,2,0,59217.0,59217.0,59217.0,2020-12-29 19:40:00,2020-12-30 21:20:00,2020-12-30 20:20:00,2020-12-31 13:52:00,20GLVSU226E,MB6,광양,마산,자동차운반선,MB6 02,1 days 01:40:00
874,9HA5344,SEBRING EXPRESS,2,1,43810.0,43810.0,43810.0,2020-12-30 12:15:00,2021-01-07 12:05:00,2020-12-30 13:15:00,2021-01-08 10:20:00,20GLVSE231I,MB6,NEW WESTMINSTER,평택.당진,자동차운반선,MB6 02,7 days 23:50:00

In [147]:
# 자동차부두와 6부두에 머무는 선박들
df_J = df.query('계선장소 == "MBJ"').reset_index(drop=True)
df_6 = df.query('계선장소 == "MB6"').reset_index(drop=True)

#  일변량 데이터 분석

### df 기본 데이터프레임
### df_Car 자동차 운반선 데이터
### df_J 자동차부두 데이터
### df_6 6부두 데이터

In [149]:
df_Car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875 entries, 0 to 874
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   호출부호     875 non-null    object
 1   선명       875 non-null    object
 2   입항횟수     875 non-null    int64
 3   입출       875 non-null    int64
 4   총톤수      875 non-null    float64
 5   국제톤수     875 non-null    float64
 6   징수톤수     875 non-null    float64
 7   입항일시     875 non-null    datetime64[ns]
 8   출항일시     875 non-null    datetime64[ns]
 9   CIO수속일자  875 non-null    datetime64[ns]
 10  수리일시     875 non-null    datetime64[ns]
 11  MRN 번호   875 non-null    object
 12  계선장소     875 non-null    object
 13  차항지      875 non-null    object
 14  전출항지     875 non-null    object
 15  선박용도     875 non-null    object
 16  계선       875 non-null    object
 17  입출항 차이   875 non-null    timedelta64[ns]
dtypes: datetime64[ns](4), float64(3), int64(2), object(8), timedelta64[ns](1)
memory usage: 123.2+ KB