In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('Port_2020.xlsx', header=12)
df.head()

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,국제톤수,...,차항지,전출항지,선박용도,승무원 1,승무원 2,승객,예선,도선,부선호출부호1,부선호출부호2
0,울산,3EFF5,EVER CHARM,2020,1,최종,외항,출항,"17,933","17,933",...,NaN,NaN,신조선,NaN,18.0,NaN,Y,Y,NaN,NaN
1,울산,3ETC7,EVER CHEER,2020,1,최종,외항,출항,"17,933","17,933",...,NaN,NaN,신조선,2.0,16.0,NaN,N,N,NaN,NaN
2,울산,3FAW9,ESTEEM HOUSTON,2020,1,최종,외항,출항,"29,651","29,651",...,NaN,NaN,신조선,NaN,27.0,NaN,N,N,NaN,NaN
3,울산,3FKA6,POS HOCHIMINH,2020,1,최종,외항,출항,"18,085","18,085",...,NaN,NaN,풀컨테이너선,5.0,14.0,1.0,Y,Y,NaN,NaN
4,울산,3FWO,SOLAR KATHERINE,2020,1,최종,외항,출항,"29,591","29,591",...,NaN,NaN,신조선,NaN,24.0,NaN,Y,Y,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48061 entries, 0 to 48060
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   항명       48061 non-null  object
 1   호출부호     48061 non-null  object
 2   선명       48061 non-null  object
 3   입항횟수     48061 non-null  int64
 4   입항횟수.1   48061 non-null  int64
 5   구분       48061 non-null  object
 6   외내       48061 non-null  object
 7   입출       48061 non-null  object
 8   총톤수      48048 non-null  object
 9   국제톤수     48049 non-null  object
 10  징수톤수     48049 non-null  object
 11  입항일시     48061 non-null  object
 12  출항일시     48061 non-null  object
 13  CIO수속일자  25942 non-null  object
 14  수리일시     48010 non-null  object
 15  항해구분     48048 non-null  object
 16  MRN 번호   22298 non-null  object
 17  국적       48047 non-null  object
 18  국적.1     48047 non-null  object
 19  계선장소     48050 non-null  object
 20  계선장소.1   48050 non-null  float64
 21  계선장소.2   48050 non-null  object
 22  차항지      47962 non-null  object
 23  전출항지     47962 non-null  object
 24  선박용도     48052 non-null  object
 25  승무원 1    37196 non-null  float64
 26  승무원 2    47855 non-null  float64
 27  승객       22052 non-null  float64
 28  예선       48047 non-null  object
 29  도선       48047 non-null  object
 30  부선호출부호1  3529 non-null   object
 31  부선호출부호2  5 non-null      float64
dtypes: float64(5), int64(2), object(25)
memory usage: 11.7+ MB

In [7]:
df.isnull().sum()

항명             0
호출부호           0
선명             0
입항횟수           0
입항횟수.1         0
구분             0
외내             0
입출             0
총톤수           13
국제톤수          12
징수톤수          12
입항일시           0
출항일시           0
CIO수속일자    22119
수리일시          51
항해구분          13
MRN 번호     25763
국적            14
국적.1          14
계선장소          11
계선장소.1        11
계선장소.2        11
차항지           99
전출항지          99
선박용도           9
승무원 1      10865
승무원 2        206
승객         26009
예선            14
도선            14
부선호출부호1    44532
부선호출부호2    48056
dtype: int64

# 변수 정의

항명: 선박이 국내에 들어왔을때의 항구의 이름(ex: 울산항)\
호출부호: 무선국을 식별하기 위한, 중복되지 않는 일련의 문자열이다.호출부호는 앞부분의 프리픽스와 뒷부분의 서픽스로 구성된다. 그래서 콜사인(Call Sign)이라고 한다.\
선명: 선박의 이름(한,영 혼용돼있음)\
입항횟수: 입항년도\
입항횟수.1: 입항횟수\
구분: 최초(입출항 24시간 전) / 최종(입출항 확정시) / 변경 / 취소(거의 없음) \
외내: 외항 / 내항 \
입출: 입항 / 출항 \
총톤수: 선박의 크기를 나타내는 지표, 4000톤 기준으로 조금씩?? \
국제톤수: \
징수톤수: 선박을 등록하거나 세금 및 각종 요금의 징수 기준을 삼을 때의 톤수(=법정톤수)\
입항일시\
출항일시\
CIO수속일자\
수리일시\
항해구분\
MRN 번호: 적하목록관리번호(Manifest Reference Number), 화물관리번호(제출년도 2자리 숫자 + 운항선사 영문코드 4자리 + 선사에서 부여한 고유번호 4자리 + 오류검증 번호 1자리) 총 11자리\
국적: 선박의 국적(영문이니셜2자리)\
국적.1: 선박의 국적(한글표기)\
계선장소: \
계선장소.1\
계선장소.2\
차항지: 선박이 현재 항구를 떠나 가려고 하는 다음 목적지? or 최종 도착지?(지역명)\
전출항지: 선박이 현재 항구를 오기 전에 있었던 항구(항구명)\
선박용도\
승무원 1: \
승무원 2: \
승객\
예선\
도선\
부선호출부호1: \
부선호출부호2: \

In [ ]:
df.loc[:, ['']]